OneMonthVibeCoding/CustomerMangementAPI/obj/
OneMonthVibeCoding/CustomerMangementAPI/bin/
OneMonthVibeCoding/.vs/
OneMonthVibeCoding/CustomerMangementAPI/appsettings.Development.json
.vscode/
OneMonthVibeCoding/CustomerMangementAPI/Properties/launchSettings.json
OneMonthVibeCoding/CustomerMangementAPI/appsettings.json
OneMonthVibeCoding-UI/customer-management-ui/.env
